
.float-left{
    float: left;
}
.float-right a{
    float: right;
    text-decoration: none;
}
#sidebar{
    background: #444;
    float:left;
    width:250px;
    height:558px
}
#sidebar ul{
    list-style: none;
}
a.bar-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #000000c4;
    color: #989898;
    text-decoration: none;
    font-weight: 600;
}
a.bar-item:hover, .bar-item.active {
    background-color: #000000ad;
    color: #fffafa;
    text-decoration: none;
}
#footer{
    clear:both;
    width:100%
}